<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebar-nav">
        <li>
          <a routerLink="/houseandlot" aria-expanded="false"><i class="fa fa-home"></i>
            <span class="hide-menu">House & Lots</span></a>
        </li>
        <li>
          <a href="#" aria-expanded="false"><i class="fa fa-building"></i>
            <span class="hide-menu">High Rise</span></a>
        </li>
        <li>
          <a href="#" aria-expanded="false"><i class="mdi mdi-email"></i>
            <span class="hide-menu">Messages</span></a>
        </li>
        <li>
          <a href="#" aria-expanded="false"><i class="fa fa-user-plus"></i>
            <span class="hide-menu">Buyer's Info</span></a>
        </li>
        <li>
          <a href="#" aria-expanded="false"><i class="fa fa-user-secret"></i>
            <span class="hide-menu">Agent</span></a>
        </li>
        <li>
          <a href="#" aria-expanded="false"><i class="fa fa-sitemap"></i>
            <span class="hide-menu">Publishing Tool</span></a>
        </li>
        <li>
          <a href="#" aria-expanded="false"><i class="fa fa-cog"></i>
            <span class="hide-menu">User Setting</span></a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>